/* MESSAGE BOXES 
ERROR*/
#popupErrorMessage {
	background-color: rgba(8, 27, 44, 1) !important;
	min-width: 177px !important;
	border: 1 solid !important;
	border-top: 0 !important;
	border-color: rgb(255, 0, 0) !important;
	border-radius: 0px 0px 11px 11px;
}

/* MESSAGE BOXES 
ARRIVAL*/
#popupArrivalMessage {
	background-color: rgba(8, 27, 44, 1) !important;
	min-width: 177px !important;
	border: 1 solid !important;
	border-color: rgb(248, 182, 36) !important;
	border-radius: 0px 0px 11px 11px;
}

/* MESSAGE BOXES 
SEARCH RESULT*/
#popupSearchResult {
	background-color: rgba(8, 27, 44, .88) !important;
	max-width: 96% !important;
	max-height: 77% !important;
	margin: 3% auto !important;
	border: 1 solid !important;
	border-color: rgb(248, 182, 36) !important;
	border-radius: 0px 0px 11px 11px;
	overflow: hidden !important;
}

/* CONTENTS 
ARRIVAL */
#arrivalMessageContent {
	background-color: rgba(8, 27, 44, 1) !important;
	cursor: pointer;
	margin: 10% auto;
	color: rgba(248, 182, 36, 1) !important;
	text-shadow: none !important;
}

/* CONTENTS 
ERROR 
CONTENT
*/
#errorMessageContent {
	color: rgb(248, 182, 36);
	text-shadow: none !important;
	margin: 10% auto;
	padding: 11px;
}

/* CONTENTS 
ERROR
HEADER*/
#errorMessageHeader {
	min-height: 2em;
	background-color: rgba(248, 0, 0, .88) !important;
	text-shadow: none !important;
	font-size: 14pt;
	font-weight: bold;
	padding-top: .44em;
	padding-left: 2.7em;
	color: rgba(8, 27, 44, 1) !important;
	background-image: url("../../images/icons/error.png");
	background-size: 32px 32px;
	background-repeat: no-repeat;
	background-position: 3px;
}

/* CONTENTS 
ARRIVAL
HEADER*/
#arrivalMessageHeader {
	min-height: 2em;
	background-color: rgba(248, 182, 36, 1) !important;
	text-shadow: none !important;
	font-size: 14pt;
	font-weight: bold;
	padding-top: .44em;
	padding-left: 2.7em;
	color: rgba(8, 27, 44, 1) !important;
	background-image: url("../../images/map-markers/building.png");
	background-size: 32px 32px;
	background-repeat: no-repeat;
	background-position: 3px;
}

.closePopupMessage {
	cursor: pointer;
	margin: 7px auto;
	background-color: rgba(248, 182, 36, 1) !important;
	border: 1px solid;
	color: rgba(8, 27, 44, 1) !important;
	border-color: transparent !important;
	border-radius: 7px !important;
	text-shadow: none !important;
	z-index: 100;
}

.closeMessageButtonIcon {
	width: 22px;
	height: 22px;
	background-color: rgba(8, 27, 44, 1) !important;
	border: 5px double !important;
	border-color: rgb(248, 182, 36) !important;
	border-radius: 100% !important;
	padding: 1px 1px !important;
	box-shadow: none !important;
	position: absolute !important;
	float: left;
	left: 2;
	top: 0;
}

<<<<<<< HEAD
#popupSearchResultCloseBTN, #popupSearchResultCloseBTNDual {
=======
#popupSearchResultCloseBTNDual {
>>>>>>> Amir
	bottom: 1;
	right: 1;
	left: 1;
	width: auto !important;
	margin: 1% auto !important;
	font-size: 10pt;
}

#popupSearchResultCurrentLocationBTN {
	bottom: 1;
	right: 1;
	left: 1;
	width: auto !important;
	margin: 1% auto !important;
	font-size: 10pt;
	padding-left: 37px !important;
}

.popupCloseBtn {
	background-image: url('../../images/icons/clearInput.png');
	background-repeat: no-repeat;
	background-size: 29px 29px;
	background-color: rgba(8, 27, 44, 1) !important;
	background-position: 1px 1px;
	width: 24px !important;
	height: 24px !important;
	display: inline-block !important;
	border: 5px double !important;
	border-color: rgb(248, 182, 36) !important;
	padding: 3px 3px !important;
	border-radius: 100% !important;
<<<<<<< HEAD
	z-index: 101 !important;
}

#departureButtonGroup{
	margin: 3% auto !important;
=======
	position: fixed !important;
	top: -8px;
	right: -12px;
>>>>>>> Amir
}