#resultsListView {
	margin: 0 !important;
	background-color: transparent !important;
}

#resultsListView>li {
	background-color: transparent !important;
	border-color: rgb(248, 182, 36) !important;
}

#resultsListView>li h2{
	background-color: transparent !important;
	border-color: rgb(248, 182, 36) !important;
	margin: .22em 0em !important;
}

#resultsListView>li p{
	background-color: transparent !important;
	border-color: rgb(248, 182, 36) !important;
	margin: .22em 0em !important;
}

.resultsListViewContent {
	background-color: transparent !important;
	text-shadow: none !important;
	color: rgb(248, 182, 36) !important;
	max-height: 2em !important;
	max-width: 100% !important;
	padding-left: 3.25em !important;
}

.resultsListViewContent.ui-btn {
	padding: 0;
	border-color:  rgb(248, 182, 36) !important;
	border-right: 0em !important;
	border-left: 0em !important;
	border-radius: 0em !important;
}

.resultsListViewContent.ui-btn.ui-btn-icon-right.ui-icon-carat-r {
	background: none !important;
	background-image: none !important;
}

#searchBarDivTop {
	width: 100%;
	position: absolute;
	padding-top: 1.1em;
	padding-bottom: 1.1em;
	background-color: transparent !important;
}

#destinationNameDiv {
	padding-left: 1.1em;
	margin-right: 1.1em !important;
}

#destinationName {
	background-color: rgba(8, 27, 44, .77) !important;
	color: rgb(248, 182, 36) !important;
	background-image: url("../../images/icons/search.png");
	background-repeat: no-repeat;
	background-size: 32px 32px;
	background-position: 9px 10px;
	padding-bottom: 5px;
	text-shadow: none;
	min-height: 2em !important;
	padding-left: 47px;
	padding-right: 33px;
	margin: 4% auto !important;
	z-index: 11;
	border: none;
	font-size: 13pt;
	font-weight: 200;
	width: 100% !important;
}

#searchField {
	background-color: rgba(8, 27, 44, .77) !important;
	color: rgb(248, 182, 36) !important;
	background-image: url("../../images/icons/search.png");
	background-repeat: no-repeat;
	background-size: 32px 32px;
	background-position: 9px 10px;
	text-shadow: none;
	min-height: 3em !important;
	padding-left: 47px;
	border-color:  rgb(248, 182, 36) !important; font-size : 13pt;
	font-weight: 200;
	width: auto !important;
	font-size: 13pt;
	margin: 3% auto !important;
}

.listViewIcons {
	margin: 5% 5% !important;
	width: 24px;
	height: 24px;
}

#resultsListView {
	overflow: auto !important;
	max-height: 75% !important;
	min-height: 222px !important;
}

.ui-page-theme-a .ui-body-inherit {
	background-color: transparent !important;
}

#destinationName::-webkit-input-placeholder,#searchField::-webkit-input-placeholder
	{
	color: rgba(248, 182, 36, .77);
	padding-left: 1em !important;
}

span.clearicon {
	position: relative;
	right: 13px;
	margin-left: 1.1em;
	margin-right: 1.1em;
}

span.clearicon span {
	position: absolute;
	display: block;
	bottom: -8px;
	right: 2px;
	width: 32px;
	height: 32px;
	background-image: url("../../images/icons/clearInput.png");
	background-repeat: no-repeat;
	background-size: 32px 32px;
	cursor: pointer;
}

.locationTypes {
	text-shadow: none !important;
}