button {
	cursor: pointer;
}

#zoomSettings {
	padding: 7px 4px 7px 4px;
}

.zoomBTN {
	cursor: pointer;
	min-width: 42px;
	min-height: 42px;
	margin-bottom: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 10px 10px 10px 10px;
	display: inline-block;
	border: 1px solid #5d7fbc;
	background-color: rgba(12, 28, 44, 0.66);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#819bcb),
		to(#536f9d));
	background-image: -webkit-linear-gradient(top, #819bcb, #536f9d);
	background-image: -moz-linear-gradient(top, #819bcb, #536f9d);
	background-image: -ms-linear-gradient(top, #819bcb, #536f9d);
	background-image: -o-linear-gradient(top, #819bcb, #536f9d);
	background-image: linear-gradient(to bottom, #819bcb, #536f9d);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#819bcb, endColorstr=#536f9d);
}

#zoomin {
	background-image: url("../../images/icons/zoomin.png") !important;
	background-repeat: no-repeat;
	background-size: 32px 32px;
	background-position: center;
}

#zoomout {
	background-image: url("../../images/icons/zoomout.png") !important;
	background-repeat: no-repeat;
	background-size: 32px 32px;
	background-position: center;
}

/*  panel bottom panel bottom panel bottom panel bottom panel bottom panel bottom panel bottom panel bottom panel bottom panel bottom */
#dashboardPanel {
	display: none;
	position: fixed;
	bottom: 0em;
	left: 0em;
	height: 13%;
	width: 100%;
	/* 	display: inline-block; */
	background: transparent !important;
}

.navbtnsdiv {
	height: 90%;
	margin: auto;
	cursor: pointer;
	/* 	display: inline; */
	padding: 3px 3px 3px 3px;
	background-color: transparent;
	cursor: pointer;
}

.navbtn {
	height: 100%;
	width: 100%;
	margin: auto;
	box-shadow: 0px 0px 13px 13px rgb(12, 28, 44);
	/* 	display: block; */
	color: rgb(247, 175, 35) !important;
	font-size: 9px;
	text-decoration: none;
	text-shadow: none !important;
	background-position: top;
	text-transform: uppercase;
	/* 	display: inline-block; */
	background-color: transparent !important;
	padding-top: 51px;
	background-position: top;
	z-index: 102;
}

#scannerBTNContainer {
	display: block;
	position: absolute;
	z-index: 101;
}

#start {
	background-image: url("../../images/icons/startBlue.png") !important;
	background-repeat: no-repeat;
	background-size: 48px 48px;
	border: none;
}

#mylocation {
	background-image: url("../../images/icons/target.png") !important;
	background-repeat: no-repeat;
	background-size: 48px 48px; /* was 32px 32px */
	border: none;
}

#mapViewSelect {
	background-image: url("../../images/icons/maps.png") !important;
	background-repeat: no-repeat;
	background-size: 48px 48px; /* was 32px 32px */
	border: none;
}

#dualModeSelect {
	background-image: url("../../images/icons/qrcodescan.png") !important;
	background-repeat: no-repeat;
	background-size: 48px 48px; /* was 32px 32px */
	border: none;
}

#satelliteView {
	margin: 0;
	padding: 0;
	border: 0;
	cursor: pointer;
	width: 48px;
	height: 48px;
	background-image: url("../../images/icons/satellite.png") !important;
	background-repeat: no-repeat;
	box-shadow: none;
}

#mapViewIcon {
	margin: 0;
	padding: 0;
	border: 0;
	cursor: pointer;
	width: 48px;
	height: 48px;
	background-image: url("../../images/icons/mapsview.png") !important;
	background-repeat: no-repeat;
	box-shadow: none;
}

#openSearchBTN {
	background-image: url("../../images/icons/search.png") !important;
	background-repeat: no-repeat;
	background-size: 48px 48px;
	border: none;
}

#btnToggleFullscreen {
	margin: 0;
	padding: 0;
	border: 0;
	cursor: pointer;
	width: 48px;
	height: 48px;
	background-image: url("../../images/icons/maximise.png") !important;
	background-repeat: no-repeat;
	background-color: transparent;
	box-shadow: none;
}

#btnToggleFullscreen.off {
	background-image: url("../../images/icons/minimise.png") !important;
	/* 48px x 48px */
}

#viewFullScreen {
	padding: 7px 4px 7px 4px;
}

#btnEmergency {
	margin: 0;
	padding: 0;
	border: 0;
	cursor: pointer;
	width: 48px;
	height: 48px;
	background-image: url("../../images/icons/emergency-icon.png")
		!important;
	background-repeat: no-repeat;
	background-color: transparent;
	box-shadow: none;
}

/* VIEW MAPTYPE DIV */
#viewMapType {
	padding: 7px 4px 7px 4px;
}