@CHARSET "ISO-8859-1";

.jqm-home {
	background: #00457c;
	color: white;
	min-height: 100%;
}

input {
	font-size: 10pt;
	line-height: 1em;
}

#searchFilters {
	background-color: #383c40;
	border-radius: 11px;
	border: solid 1px black;
}

#paginationContainerDiv {
	background-color: #383c40;
	padding: 11px 11px 11px 11px;
	border: solid 1px black;
	border-radius: 11px;
}

#formContainer {
	background-color: #383c40;
	padding: 11px 11px 11px 11px;
	margin-top: 7px;
	border: solid 1px black;
	border-radius: 11px;
	min-height: 100%;
}

@media ( min-width : 60em) {
	.jqm-demos .jqm-content {
		padding-top: 0em;
	}
}

/*
 * GRID CHECKBOXES
 */
#gridList>tbody>tr>td .ui-checkbox>input,#gridList>thead>tr>th .ui-checkbox>input,#gridList>tfoot>tr>th .ui-checkbox>input
	{
	position: static;
	width: 17px;
	height: 17px;
	margin: -3px 0 0 0;
}

/*
 * SELECT OPTION
 */
.ui-select>a {
	padding-top: .33em;
	padding-bottom: .33em;
	margin: 0px;
}
/*
 * BUTTON ICONS
 */
.save-icon {
	background-image: url("../images/icons/save.png");
	background-repeat: no-repeat;
	background-position: left 13px center;
}

.cancel-icon {
	background-image: url("../images/icons/cancel.png");
	background-repeat: no-repeat;
	background-position: left 13px center;
}

.group-icon {
	background-image: url("../images/icons/group.png");
	background-repeat: no-repeat;
	background-position: left 13px center;
	padding-left: 44px;
}

.role-icon {
	background-image: url("../images/icons/security.png");
	background-repeat: no-repeat;
	background-position: left 13px center;
	padding-left: 44px;
}

#mainBodyMenuSettingBTN {
	background-image: url("../images/icons/setting.png");
	background-repeat: no-repeat;
	background-position: left 13px center;
	padding-left: 44px;
	min-height: 11px;
}

#dataFilterGridMainPage .save-icon .ui-btn {
	background-color: black;
}

#hide-filters {
	background-image: url("../images/icons/show.png");
	background-repeat: no-repeat;
	background-position: left 13px center;
	padding-left: 44px;
}

#new-item {
	background-image: url("../images/icons/new.png");
	background-repeat: no-repeat;
	background-position: left 13px center;
	padding-left: 44px;
}

#delete-item {
	background-image: url("../images/icons/delete.png");
	background-repeat: no-repeat;
	background-position: left 13px center;
	padding-left: 44px;
}

#edit-item {
	background-image: url("../images/icons/edit.png");
	background-repeat: no-repeat;
	background-position: left 13px center;
	padding-left: 44px;
}

#secure-item {
	background-image: url("../images/icons/security.png");
	background-repeat: no-repeat;
	background-position: left 13px center;
	padding-left: 44px;
}

#password-item {
	background-image: url("../images/icons/password.png");
	background-repeat: no-repeat;
	background-position: left 13px center;
	padding-left: 44px;
}

#group-item {
	background-image: url("../images/icons/group.png");
	background-repeat: no-repeat;
	background-position: left 13px center;
	padding-left: 44px;
}

/*
 * AUTOCOMPLETE
 */
.autocomplete-list {
	position: absolute;
	background-color: #cfcfcf;
	z-index: 100000;
}

.autocomplete-list>li {
	cursor: pointer;
	background-color: #afafaf;
}

/*
 * POPUP MENUS
 */
.main-setting-menu>ul>li>a,#gridMenuSetting>ul>li>a {
	background-color: black !important;
	color: white !important;;
	text-shadow: none !important;;
}

.main-setting-menu ul li a:hover,#gridMenuSetting>ul>li>a:hover {
	background-color: #383c40 !important;;
	color: white !important;;
}

/*
 * MENU CONTENTS
 */
@media ( min-width : 60em) {
	.jqm-list,.jqm-navmenu-panel {
		background-color: black;
		bottom: 0px;
	}
	.jqm-demos .jqm-navmenu-panel .ui-panel-inner {
		margin-top: 0px;
		min-height: 100%;
		bottom: 0px;
	}
	.jqm-navmenu-panel .ui-listview .ui-btn {
		color: white;
	}
	.jqm-demos .jqm-list .ui-btn:hover,.jqm-demos .jqm-list .ui-btn:active {
		color: #9addff;
	}
}

/*
 * Table Grid
 */
#controllerRow>td:first-child {
	background-color: #4f5458;
	padding: 3px 3px 3px 3px;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
	border-top-left-radius: 11px;
	border-bottom-left-radius: 11px;
}

#controllerRow>td {
	background-color: #4f5458;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
}

#controllerRow>td:last-child {
	background-color: #4f5458;
	padding: 3px 3px 3px 3px;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
	border-top-right-radius: 11px;
	border-bottom-right-radius: 11px;
}

table.dataTable {
	width: 100%;
	margin: 0 auto;
	clear: both;
	border-collapse: separate;
	border-spacing: 0;
	/*
   * Header and footer styles
   */
	/*
   * Body styles
   */
}

table.dataTable thead th,table.dataTable tfoot th {
	font-weight: bold;
	background-color: #9b221f;
	color: white;
}

table.dataTable thead th,table.dataTable thead td {
	padding: 0px;
	border-bottom: 1px solid #4989ff;
	border-right: 1px solid #000000;
	text-shadow: none;
}

table.dataTable thead th:active,table.dataTable thead td:active {
	outline: none;
}

table.dataTable tfoot th,table.dataTable tfoot td {
	padding: 0px;;
	border-top: 1px solid #4989ff;
	border-right: 1px solid #000000;
	text-shadow: none;
}

table.dataTable tbody tr:nth-child(even) {
	background-color: #d2f0ff;
}

table.dataTable tbody th,table.dataTable tbody td {
	padding: 1px 3px;
}

table.dataTable.row-border tbody tr:first-child th,table.dataTable.row-border tbody tr:first-child td,table.dataTable.display tbody tr:first-child th,table.dataTable.display tbody tr:first-child td
	{
	border-top: none;
}

table.dataTable.cell-border tbody th,table.dataTable.cell-border tbody td
	{
	border-top: 1px solid #4989ff;
	border-right: none;
}

table.dataTable.cell-border tbody tr:first-child th,table.dataTable.cell-border tbody tr:first-child td
	{
	border-top: none;
	border-right: none;
}

table.dataTable.stripe tbody tr.odd,table.dataTable.display tbody tr.odd
	{
	background-color: #e7f7ff;
}

table.dataTable.hover tbody tr:hover,table.dataTable.display tbody tr:hover
	{
	background-color: #b7e7ff;
}

table.dataTable.nowrap th,table.dataTable.nowrap td {
	white-space: nowrap;
}

table.dataTable.compact thead th,table.dataTable.compact thead td {
	padding: 4px 17px 4px 4px;
}

table.dataTable.compact tfoot th,table.dataTable.compact tfoot td {
	padding: 4px;
}

table.dataTable.compact tbody th,table.dataTable.compact tbody td {
	padding: 4px;
}

table.dataTable th.dt-left,table.dataTable td.dt-left {
	text-align: left;
}

table.dataTable th.dt-center,table.dataTable td.dt-center,table.dataTable td.dataTables_empty
	{
	text-align: center;
}

table.dataTable th.dt-right,table.dataTable td.dt-right {
	text-align: right;
}

table.dataTable th.dt-justify,table.dataTable td.dt-justify {
	text-align: justify;
}

table.dataTable th.dt-nowrap,table.dataTable td.dt-nowrap {
	white-space: nowrap;
}

table.dataTable thead th.dt-head-left,table.dataTable thead td.dt-head-left,table.dataTable tfoot th.dt-head-left,table.dataTable tfoot td.dt-head-left
	{
	text-align: left;
}

table.dataTable thead th.dt-head-center,table.dataTable thead td.dt-head-center,table.dataTable tfoot th.dt-head-center,table.dataTable tfoot td.dt-head-center
	{
	text-align: center;
}

table.dataTable thead th.dt-head-right,table.dataTable thead td.dt-head-right,table.dataTable tfoot th.dt-head-right,table.dataTable tfoot td.dt-head-right
	{
	text-align: right;
}

table.dataTable thead th.dt-head-justify,table.dataTable thead td.dt-head-justify,table.dataTable tfoot th.dt-head-justify,table.dataTable tfoot td.dt-head-justify
	{
	text-align: justify;
}

table.dataTable thead th.dt-head-nowrap,table.dataTable thead td.dt-head-nowrap,table.dataTable tfoot th.dt-head-nowrap,table.dataTable tfoot td.dt-head-nowrap
	{
	white-space: nowrap;
}

table.dataTable tbody th.dt-body-left,table.dataTable tbody td.dt-body-left
	{
	text-align: left;
}

table.dataTable tbody th.dt-body-center,table.dataTable tbody td.dt-body-center
	{
	text-align: center;
}

table.dataTable tbody th.dt-body-right,table.dataTable tbody td.dt-body-right
	{
	text-align: right;
}

table.dataTable tbody th.dt-body-justify,table.dataTable tbody td.dt-body-justify
	{
	text-align: justify;
}

table.dataTable tbody th.dt-body-nowrap,table.dataTable tbody td.dt-body-nowrap
	{
	white-space: nowrap;
}

table.dataTable,table.dataTable th,table.dataTable td {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

/*
 * Control feature layout
 */
.dataTables_wrapper {
	position: relative;
	clear: both;
	*zoom: 1;
	zoom: 1;
}

.dataTables_wrapper .dataTables_length {
	float: left;
}

.dataTables_wrapper .dataTables_filter {
	float: right;
	text-align: right;
}

.dataTables_wrapper .dataTables_filter input {
	margin-left: 0.5em;
}

.dataTables_wrapper .dataTables_info {
	clear: both;
	float: left;
	padding-top: 0.755em;
	color: white;
	text-shadow: none;
}

.dataTables_wrapper .dataTables_paginate {
	float: right;
	text-align: right;
	padding-top: 0.25em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	box-sizing: border-box;
	display: inline-block;
	min-width: 1.5em;
	padding: 0.5em 1em;
	margin-left: 2px;
	text-align: center;
	text-decoration: none !important;
	cursor: pointer;
	*cursor: hand;
	color: #333333 !important;
	border: 1px solid transparent;
	border-radius: 2px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover
	{
	color: #333333 !important;
	border: 1px solid #007500;
	background-color: #8fff8f;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8fff8f),
		color-stop(100%, lime));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #8fff8f 0%, lime 100%);
	/* Chrome10+,Safari5.1+ */
	background: -moz-linear-gradient(top, #8fff8f 0%, lime 100%);
	/* FF3.6+ */
	background: -ms-linear-gradient(top, #8fff8f 0%, lime 100%);
	/* IE10+ */
	background: -o-linear-gradient(top, #8fff8f 0%, lime 100%);
	/* Opera 11.10+ */
	background: linear-gradient(to bottom, #8fff8f 0%, lime 100%);
	/* W3C */
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active
	{
	cursor: default;
	color: #666 !important;
	border: 1px solid transparent;
	background: transparent;
	box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	color: white !important;
	border: 1px solid red;
	background-color: #ff8f8f;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff8f8f),
		color-stop(100%, red));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ff8f8f 0%, red 100%);
	/* Chrome10+,Safari5.1+ */
	background: -moz-linear-gradient(top, #ff8f8f 0%, red 100%);
	/* FF3.6+ */
	background: -ms-linear-gradient(top, #ff8f8f 0%, red 100%);
	/* IE10+ */
	background: -o-linear-gradient(top, #ff8f8f 0%, red 100%);
	/* Opera 11.10+ */
	background: linear-gradient(to bottom, #ff8f8f 0%, red 100%);
	/* W3C */
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
	outline: none;
	background-color: #ff3333;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3333),
		color-stop(100%, #f50000));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ff3333 0%, #f50000 100%);
	/* Chrome10+,Safari5.1+ */
	background: -moz-linear-gradient(top, #ff3333 0%, #f50000 100%);
	/* FF3.6+ */
	background: -ms-linear-gradient(top, #ff3333 0%, #f50000 100%);
	/* IE10+ */
	background: -o-linear-gradient(top, #ff3333 0%, #f50000 100%);
	/* Opera 11.10+ */
	background: linear-gradient(to bottom, #ff3333 0%, #f50000 100%);
	/* W3C */
	box-shadow: inset 0 0 3px #111;
}

.dataTables_wrapper .dataTables_paginate .ellipsis {
	padding: 0 1em;
}

.dataTables_wrapper .dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 40px;
	margin-left: -50%;
	margin-top: -25px;
	padding-top: 20px;
	text-align: center;
	font-size: 1.2em;
	background-color: white;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(226,
		226, 226, 0)), color-stop(25%, rgba(226, 226, 226, 0.9)),
		color-stop(75%, rgba(226, 226, 226, 0.9)),
		color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(left, rgba(226, 226, 226, 0) 0%,
		rgba(226, 226, 226, 0.9) 25%, rgba(226, 226, 226, 0.9) 75%,
		rgba(226, 226, 226, 0) 100%);
	background: -moz-linear-gradient(left, rgba(226, 226, 226, 0) 0%,
		rgba(226, 226, 226, 0.9) 25%, rgba(226, 226, 226, 0.9) 75%,
		rgba(226, 226, 226, 0) 100%);
	background: -ms-linear-gradient(left, rgba(226, 226, 226, 0) 0%,
		rgba(226, 226, 226, 0.9) 25%, rgba(226, 226, 226, 0.9) 75%,
		rgba(226, 226, 226, 0) 100%);
	background: -o-linear-gradient(left, rgba(226, 226, 226, 0) 0%,
		rgba(226, 226, 226, 0.9) 25%, rgba(226, 226, 226, 0.9) 75%,
		rgba(226, 226, 226, 0) 100%);
	background: linear-gradient(to right, rgba(226, 226, 226, 0) 0%,
		rgba(226, 226, 226, 0.9) 25%, rgba(226, 226, 226, 0.9) 75%,
		rgba(226, 226, 226, 0) 100%);
}

.dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter,.dataTables_wrapper .dataTables_info,.dataTables_wrapper .dataTables_processing,.dataTables_wrapper .dataTables_paginate
	{
	color: #FFF;
}

.dataTables_wrapper .dataTables_scroll {
	clear: both;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>th>div.dataTables_sizing,.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>td>div.dataTables_sizing,.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>th>div.dataTables_sizing,.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td>div.dataTables_sizing
	{
	height: 0;
	overflow: hidden;
	margin: 0 !important;
	padding: 0 !important;
}

.dataTables_wrapper.no-footer div.dataTables_scrollHead>table,.dataTables_wrapper.no-footer div.dataTables_scrollBody>table
	{
	border-bottom: none;
}

.dataTables_wrapper:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

@media screen and (max-width: 767px) {
	.dataTables_wrapper .dataTables_info,.dataTables_wrapper .dataTables_paginate
		{
		float: none;
		text-align: center;
	}
	.dataTables_wrapper .dataTables_paginate {
		margin-top: 0.5em;
	}
}

@media screen and (max-width: 640px) {
	.dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter
		{
		float: none;
		text-align: center;
	}
	.dataTables_wrapper .dataTables_filter {
		margin-top: 0.5em;
	}
}