#locationEditPanel {
	position: absolute;
	z-index: 130;
	margin: 0 50% auto;
	height: 100%;
}

.editlocationFormRow {
	-webkit-border-radius: 3 !important;
	border-radius: 3 !important;
	color: rgb(248, 182, 36) !important;
	background-color: rgba(8, 27, 44, 1) !important;
	text-shadow: none !important;
	border: 1px solid !important;
	border-color: rgb(248, 182, 36) !important;
	font-weight: bold !important;
	margin: 0 !important;
	margin-bottom: 3px !important;
}

.editlocationFormRow>label {
	/* 	display: inline-block; */
	background-color: rgb(248, 182, 36) !important;
	color: rgba(8, 27, 44, 1) !important;
	min-height: 1.5em !important;
	font-weight: bolder !important;
	text-align: center;
	margin: 0 auto;
}

.editlocationFormRow>img {
	padding: 4px;
}

.pathMenu {
	font-size: 11pt !important;
	font-weight: normal !important;
	color: rgb(248, 182, 36) !important;
	background-color: rgba(8, 27, 44, 1) !important;
	text-shadow: none !important;
	border-color: rgb(248, 182, 36) !important;
}

#locationIcon {
	border: thick;
	border-width: 1px !important;
	border-color: white;
	cursor: pointer;
}

.ui-input-text {
	background-color: rgba(8, 27, 44, 1) !important;
	text-shadow: none !important;
	border-color: rgb(248, 182, 36) !important;
	margin: 3px;
	border-width: 2px;
	border-top: none;
	border-left: none;
	border-right: none;
}

#locationDescription {
	overflow-y: scroll;
	max-height: 100px;
	/* 	resize: none; */
	color: rgb(248, 182, 36) !important;
	overflow: hidden;
	margin: 3px;
	padding: 3px;
	width: 98%;
	overflow-y: auto;
}

.ui-popup {
	background-color: rgba(8, 27, 44, 1) !important;
	border-color: rgb(248, 182, 36) !important;
}

.closeMessageButtonIcon {
	width: 22px;
	height: 22px;
	background-color: red !important;
	border: 3px double !important;
	border-color: rgb(248, 182, 36) !important;
	border-radius: 100% !important;
	padding: 1px 1px !important;
	box-shadow: none !important;
	position: absolute !important;
	float: right !important;
	right: 4;
	top: 1;
}

.locationTypeSelecIcons>img {
	border: 1px solid !important;
	border-color: rgba(248, 182, 36, .44) !important;
	margin: 2px;
	padding: 3px;
	opacity: 0.4 !important;
}

.locationTypeSelecIconSelected>img {
	border: 3px solid !important;
	border-color: rgb(248, 182, 36) !important;
	margin: 2px;
	padding: 3px;
	opacity: 1 !important;
}

.menuItemPopupClass {
	min-width: 333px;
}