.pathMenu,.formLabel {
	-webkit-border-radius: .0 !important;
	border-radius: 0;
	color: rgb(248, 182, 36) !important;
	background-color: rgba(8, 27, 44, 1) !important;
	text-shadow: none !important;
	border-color: rgb(248, 182, 36) !important;
}
.pathMenu {
	font-size: 11pt !important;
}
.ui-input-text {
	border-color: rgb(248, 182, 36) !important;
	border-width: 2px;
	border-top: none;
	border-left: none;
	border-right: none;
}

#locationDescription {
	overflow-y: scroll;
	max-height: 100px;
	resize: none;
	overflow: hidden;
}