#editBoundaryPopup {
	min-width: 100%;
	background-color: rgba(8, 27, 44, 1) !important;
	right: 0;
	left: 0 !important;
	margin: 0 !important;
}

.inlineIcon {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	width: auto !important;
}

#parentLocationListView {
	position: absolute;
	z-index: 100;
	background-color: white;
	width: 100%;
}

.labels {
	color: red;
	background-color: white;
	font-family: "Lucida Grande", "Arial", sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	width: 65px;
	border: 2px solid black;
	white-space: nowrap;
}

.color-button {
	width: 14px;
	height: 14px;
	font-size: 0;
	margin: 2px;
	float: left;
	cursor: pointer;
}