#locationEditMenu {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	margin-top: 7px;
	background-color: rgb(248, 182, 36);
	color: rgba(8, 27, 44, 1);
	border-radius: 100%;
	z-index: 101;
}
