.toolBar {
	min-width: 100%;
	background-color: rgba(8, 27, 44, .7) !important;
	right: 0;
	left: 0 !important;
	margin: 0 !important;
}

#boundaryColorFieldset {
	display: inline-block;
	padding: 2px;
	max-height: 48px;
	color: rgb(248, 182, 36) !important;
	text-shadow: none;
}

.toolBar>img {
	background-color: rgba(8, 27, 44, 1);
	max-width: 48px;
	max-height: 48px;
	margin: 3px !important;
	display: inline;
	cursor: pointer;
	border: solid 1px;
	padding: 2px;
}

.color-button {
	width: 14px;
	height: 14px;
	font-size: 0;
	margin: 2px;
	float: left;
	cursor: pointer;
}

#selectBoundaryColor {
	width: 28px;
	height: 28px;
	background-color: white;
	display: inline-block;
	right: 0;
	max-width: 32px;
	max-height: 32px;
	margin: 3px !important;
	left: 0 !important;
	display: inline-block;
	cursor: pointer;
	border: solid 3px red;
	padding: 2px;
}